<div class="container">
    <div class="row mt-5">
        <div class="col-12 pb-2">
            <div class="d-flex bg-light">
                <div class="p-2">
                    <span class="fw-bold"><a href="/" class="fw-bold">Home</a> / About-Us</span>
                </div>
            </div>
        </div>

        <div class="col-4 mb-3">
            <div class="card">
                <img src="assets/images/about.jpg" alt="" class="img">
            </div>
        </div>
        <div class="col-8 mb-3">
            <div class="card">
                <div class="card-title">
                    <h3 class="text-center mt-3 title">About Us</h3>
                </div>
                <div class="card-body">
                    <p class="text-justify ps-2 pr-2 text">
                            Welcome to our state-of-the-art Medical Laboratory, where precision meets care in the realm of
                        diagnostics. At <b>Balaji Labs</b>, we are dedicated to providing accurate and timely results
                        that contribute to the overall well-being of our patients.<br>

                        Our cutting-edge facility is equipped with the latest technology and manned by a team of highly
                        skilled and experienced medical professionals. From routine tests to specialized diagnostics, we
                        offer a comprehensive range of services to support healthcare providers in making informed
                        decisions about your health. 

                        Our laboratory services cover a broad spectrum, including blood tests, pathology, microbiology,
                        and more. Whether you're in for a routine check-up or require more in-depth analysis, you can
                        trust our dedicated team to deliver results you can rely on.<br>
<br>
                        At <b>Balaji Labs</b>,, we believe in the power of precision diagnostics to transform healthcare
                        outcomes. Our mission is to contribute to the advancement of medical knowledge and patient care
                        through our commitment to accuracy, innovation, and compassionate service.<br>

                        Explore the possibilities of health with <b>Balaji Labs</b>,. Your well-being is our priority,
                        and we take pride in being a trusted partner on your journey to a healthier, happier life.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>