<div class="container">
    <div class="row mt-5">
        <div class="col-12 pb-2">
            <div class="d-flex bg-light">
                <div class="p-2">
                    <span class="fw-bold"><a href="/" class="fw-bold">Home</a> / Tests</span>
                </div>
            </div>
        </div>

        <div class="col-4 p-3" *ngFor = "let test of tests">
            <div class="card bg-dark text-light bg">
                <div class="card-title">
                    <h3 class="text-center mt-3 title">{{test.testName}}</h3>
                </div>
            </div>            
        </div>
    </div>
</div>