<div class="container">
    <div class="mt-5 pt-5">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card bg pb-5">
                    <div class="card-title">
                        <h5 class="text-center pt-3 text-danger">Login</h5>
                    </div>
                    <div class="card-body">
                        <form action="" class="ps-5 px-5">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username: <sup class="text-danger fw-bold">*</sup></label>
                                <input type="text" class="form-control" id="username" placeholder="Enter Username">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password: <sup class="text-danger fw-bold">*</sup></label>
                                <input type="password" class="form-control" id="username" placeholder="Enter Password">
                            </div>
                            <p class="d-grid gap-1 mt-5">
                                <button type="button" class="btn btn-primary bg">Login</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>