<div class="container">
    <div class="row mt-5">
        <div class="col-12 pb-2">
            <div class="d-flex bg-light">
                <div class="p-2">
                    <span class="fw-bold"><a href="/" class="fw-bold">Home</a> / Contact-Us</span>
                </div>
            </div>
        </div>

        <div class="col-4 mb-3">
            <div class="card">
                <img src="assets/images/contact-us.png" alt="" class="img">
            </div>
        </div>
        <div class="col-8 mb-3">
            <div class="card">
                <div class="card-title">
                    <h3 class="text-center mt-3 title">Contact Us</h3>
                </div>
                <div class="card-body pt-5 pb-5 mb-5">
                    <li class="list-group-item fw-bold p-3 text-center text-danger"><i class="fa fa-phone"></i> +91 - 770809152</li>
                    <li class="list-group-item fw-bold p-3 text-center text-danger"><i class="fa fa-envelope"></i> ramanaiah.&#64;gamil.com</li>
                    <li class="list-group-item fw-bold p-3 text-center text-danger"><i class="fa fa-whatsapp"></i> +91 - 770809152</li>

                </div>
            </div>
        </div>
    </div>
</div>