<div class="container">
    <div class="mt-5 pt-1">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card bg">
                    <div class="card-title">
                        <h5 class="text-center pt-3 text-danger">SignUp</h5>
                    </div>
                    <div class="card-body pb-3">
                        <form action="" class="ps-5 px-5">
                            <div class="mb-3">
                                <label for="fullName" class="form-label">Full Name: <sup class="text-danger fw-bold">*</sup></label>
                                <input type="text" class="form-control" id="fullName" placeholder="Enter Full Name">
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username: <sup class="text-danger fw-bold">*</sup></label>
                                <input type="text" class="form-control" id="username" placeholder="Enter Username">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password: <sup class="text-danger fw-bold">*</sup></label>
                                <input type="password" class="form-control" id="username" placeholder="Enter Password">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email: <sup class="text-danger fw-bold">*</sup></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter Email">
                            </div>
                            <p class="d-grid gap-1 pt-3">
                                <button type="button" class="btn btn-primary bg">SignUp</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>